language: php

php:
  - '5.5'
  - '5.6'
  - '7.0'

before_script:
  - wget https://scrutinizer-ci.com/ocular.phar

install:
  - composer install --no-interaction --prefer-source

script:
  - composer check
  - ./vendor/bin/phpunit --coverage-clover=coverage.clover
  - php ocular.phar code-coverage:upload --format=php-clover coverage.clover
